.location-lists .gtm-black {
    display: inline-block;
    font-size: 24px !important;
    line-height: 44px;
    width: 48%;
}

.location-lists {
    vertical-align: top;
    float: none;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: left;
}

.gtm-thin {
    font-family: "Gotham A", "Gotham B";
    font-weight: 100;
    font-style: normal
}

.gtm-thinn {
    border-bottom: 1px solid #e3e3e3;
    color: #636363;
    font-size: 22px;
    font-weight: bold !important;
    margin-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.gtm-black {
    font-family: "Gotham A", "Gotham B";
    font-weight: 800;
    font-style: normal
}

a {
    text-decoration: none;
    color: inherit
}

.list-item {
    margin: 0px;
    color: rgb(187, 159, 125);
    font-size: 30px;
    text-transform: uppercase;
}
