<form ng-submit="$ctrl.ok()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Booking {{ $ctrl.location.name }}</h3>
        <h4>{{ $ctrl.startsAt }} - {{ $ctrl.endsAt }}</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group"><label>For:</label><input type="text" ng-model="title" class="form-control" placeholder="Party !!"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="submit" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>